name: CI - Calendar

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 1 */3 *'

jobs:
  build-calendar:
    runs-on: ubuntu-latest
    steps:
       - name: Checkout
         uses: actions/checkout@v4
         
       - name: Set up Python
         uses: actions/setup-python@v5
         with:
           python-version: '3.13'
           
       - name: Install dependencies
         run: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
              
       - name: Generate calendar
         run: python main.py

       - name: Move calendar to docs
         run: |
              mkdir -p docs
              mv calendario-*.pdf docs/calendar.pdf

       - name: Commit & push updated calendar
         run: |
              git config user.name "github-actions"
              git config user.email "github-actions@github.com"
              git add docs/calendar.pdf
              git commit -m "Update calendar"
              git push